<html>
    <head>
        <script language="javascript">
            function resizeImage() {
                var image = document.getElementById('img1');
                image.style.width="300px";
                image.style.height="300px";
            }

            function resetImage() {
                var image = document.getElementById("img1");
                image.style.width = "200px";
                image.style.height = "200px";
            }
            </script>
    </head>

    <body>
        <img src="" id="img1" width="200px" /><br />
        <button onclick = "resizeImage()">Resize</button>
        <button onclick = "resetImage()">Reset</button>
    </body>
</html>